

.info_widget_title{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #ACACAC;   
    margin-bottom: 2px;
}

.info_widget_quantity{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #333333;   
    margin-bottom: 4px; 
}
.info_widget_stats{
    display:flex;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #292D32;
    
    & img{
        margin-right: 6px;
    }

    .info_widget_stat{
        
        font-weight: 700; 
        margin-right: 3px;       
    }
}

